md-input-container {
    width: 98%;
    margin: 0 8px;
}

md-progress-bar {
    width: 98%;
    margin: 5px 1%;
    position: absolute;
    top: 0;
    left: 0;
}

.close {
    cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
}

h4 {
	width: 115px;
	flex: 1 1 auto;
}

.getMoBtn {
	cursor: pointer !important;
}
