<md-card class="animated" *ngIf="ossId && aparece" [ngClass]="aparece ? 'fadeInLeft' : 'fadeOutLeft'">
    <br>
    <br>
    <br>    
    <md-card-header>        
        <md-card-title>
            <span class="titulo">
        		<md-icon>place</md-icon> {{ossId[1] | uppercase}} | {{ossId[0].supplier}}
        	</span>
            <span class="close">
        		<md-icon class="close" [color]="'accent'" (click)="closeNodesMenu()">close</md-icon>
        	</span>            
        </md-card-title>
        <md-progress-bar md-line mode="indeterminate" *ngIf="loading"></md-progress-bar>
    </md-card-header>
    <span *ngIf="!ossId">Elige un Oss</span>
    <div *ngIf="ossId">
        <md-input-container class="example-full-width">
            <input mdInput placeholder="Buscar" [(ngModel)]="search">
        </md-input-container>
        <md-list>
            <h3 md-subheader>Nodos</h3>            
<!--             <md-list-item *ngFor="let node of ossId[0].targetNodes | searchPipe:'name':search | paginate: { itemsPerPage: 5, currentPage: p }">
                <md-icon md-list-avatar [color]="'primary'">wifi_tethering</md-icon>
                <h4>{{node.nodeId}}</h4>
                <md-icon class="getMoBtn" [color]="'accent'" (click)="getMoList(node, $event)">send</md-icon>
            </md-list-item> -->
            <md-list-item *ngFor="let node of nodosActuales | searchPipe:'nodeId':search | paginate: { itemsPerPage: 5, currentPage: p }">
                <md-icon md-list-avatar [color]="'primary'">wifi_tethering</md-icon>
                <h4>{{node.nodeId}}</h4>
                <md-icon class="getMoBtn" [color]="'accent'" (click)="getMoList(node)">send</md-icon>
            </md-list-item>
            <pagination-controls (pageChange)="p = $event" class="nodeMenuPagination" previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
        </md-list>
    </div>
</md-card>
