md-input-container {
    width: 98%;
    margin: 0 8px;
}

.close {
    cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
}

h4 {
	width: 115px;
}

.getMoBtn {
	width: 115px;
	margin-left: 10px;
}
