<md-toolbar color="'primary'">
    <div class="logoNRT">
        <img src="./assets/img/nrtmonitoring.svg">
    </div>
    <button class="menu" md-icon-button (click)="openNavFn()">
        <md-icon [color]="'primary'">menu</md-icon>
    </button>
    <span class="example-spacer"></span>
    <button md-button [color]="'white'">
        <md-icon>wifi_tethering</md-icon> Monitored nodes</button>
    <button md-button [color]="'white'" [mdMenuTriggerFor]="intelmaMenu">Usuario</button>
    <md-menu #intelmaMenu="mdMenu">
        <button md-menu-item routerLink="/inicio" routerLinkActive="active">
            <md-icon>face</md-icon>
            <span>Profile</span>
        </button>
        <button md-menu-item routerLink="/polls" routerLinkActive="active">
            <md-icon>exit_to_app</md-icon>
            <span>Log out</span>
        </button>
    </md-menu>
    <button md-button [color]="'white'">English</button>
    <button md-button [color]="'white'">
        <md-icon>settings</md-icon>
    </button>
</md-toolbar>
