<nav>
    <span class="logoTelcel">
        <img src="./assets/img/intelma.svg">
    </span>
    <form action="">
        <ul>
            <li *ngFor="let region of regiones">
                <md-select placeholder="{{region.nombre}}" [(ngModel)]="region.selected" name="{{region.nombre}}">
                    <md-option *ngFor="let item of region.oss" [value]="item.name" (onSelect)="setOss(item, region.nombre)">
                        {{item.name}}
                    </md-option>
                </md-select>
            </li>
        </ul>
    </form>
    <!-- <md-list *ngFor="let oss of oss">
        <h3 md-subheader>{{oss.name}}</h3>
        <md-list-item>
            <h4 md-line>{{oss.supplier}}</h4>
            <p md-line> {{oss.networkType}} </p>
        </md-list-item>
    </md-list> -->
</nav>
