h3 {
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

button {
    text-transform: uppercase;
}

md-select {
    width: 100%;
    height: 60px;
}

img {
    width: 60%;
}

nav {
    padding: 10px;
}

.logoTelcel {
    width: 100%;
    height: 64px;
    text-align: center;
    background-color: #009cd5;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logoTelcel img {
    background-color: transparent;
    width: 60%;
    margin: auto;
}

.logoTelcel button {
    width: 40%;
    margin:auto;
}

form {
    margin-top: 100px;
}