.flex-container {
    /* We first create a flex layout context */
    display: flex;
    /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: center;
}

.flex-container md2-datepicker {
    flex: 1 50%;
}

.flex-container app-gauge-chart {
    width: 16%;
    margin-bottom: 10px;
    flex: 0 1 auto;
}

md-progress-bar {
    margin: 20px 0;
}

md-slide-toggle {
  margin-right: 10%;
}


/* Medium screens */

@media all and (max-width: 1024px) {
    .flex-container app-gauge-chart {
        width: 25%;
    }
}

/* Small screens */

@media all and (max-width: 700px) {
    .flex-container {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
    .flex-container app-gauge-chart {
        width: 100%;
    }
}
