
<div>
  <div *ngIf="barChartData.length > 0" style="display: block">
      <md-card class="animated fadeInUp">
        <md-card-content>
            <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="lineChartColors"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </md-card-content>
      </md-card>
  </div>
</div>