.example-margin {
    margin: 0 10px;
}

label.example-margin {
    margin-bottom: 10px;
    display: block;
    border-bottom: solid 5px gray;
}

md-radio-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

md-card-header {
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 10px;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: center;
}

.flex-container md2-datepicker {
    flex: 1 50%;
}

.flex-container app-gauge-chart,
.flex-container app-bar-chart {
    width: 32%;
    margin-bottom: 10px;
    flex: 0 1 auto;
}

.flex-container app-temp {
    width: 48%;
    flex: 0 1 auto;
    margin-bottom: 20px;
}

md-progress-bar {
    margin: 20px 0;
}

md-slide-toggle {
    /*margin-right: 20% !important;*/
}

hr {
    margin: 25px 0;
    height: 6px;
    background: url(./assets/img/hr.png) repeat-x 0 0;
    border: 0;
}

h2 {
    margin-top: 95px;
    color: slategray;
}
h1 {
    margin: 0;
    padding: 0;
    color: slategray;
}

h1, p.formula, app-kpis-table, hr {
    text-align: center;
    width: 100%;
}

p.formula {
    font-size: small;
    color: darkgray;
    padding: 5px;
    border: 1px dotted darkgray;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 25px;
}

.gaugeDisplay {
    justify-content: space-around;
}

.rtDisplay {
    background-color: #fafafa;
    justify-content: space-around;    
}

table {
    width: 100% !important;
}

#hor-minimalist-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-a th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
    color: #669;
    padding: 9px 8px 5px 8px;
    border-bottom: 1px dotted slategray;

}
#hor-minimalist-a tbody tr:hover td
{
    color: #009;
    background-color: whitesmoke;
}


#hor-minimalist-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-b th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
    color: #009;
}


/* Medium screens */

@media all and (max-width: 1024px) {
    .flex-container app-gauge-chart,
    .flex-container app-bar-chart,
    .flex-container app-temp {
        width: 32%;
    }
}


/* Small screens */

@media all and (max-width: 700px) {
    .flex-container {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
    .flex-container app-gauge-chart,
    .flex-container app-bar-chart,
    .flex-container app-temp {
        width: 100%;
    }
}
