<h2><md-icon md-line [color]="'gray'">dashboard</md-icon> DASHBOARD</h2>
<hr>
<!-- <div style="width: 90%; margin: 0 5%;">
    <app-temp></app-temp>
</div> -->
<md-card *ngIf="nodeData" class="animated fadeInUp">
    <!--     <md-card-header>
        <md-card-title>
            <md-icon md-list-avatar [color]="'primary'">wifi_tethering</md-icon> Nodo: {{nodeData[1]}} | {{nodeData[0] | uppercase}}
        </md-card-title>
    </md-card-header> -->
    <md-card-content>
        <section>
            <label class="example-margin">
                <md-icon [color]="'accent'">wifi_tethering</md-icon> Node:
            </label>
            <p style="margin-left: 10px;">{{nodeData[1]}}</p>
            <label class="example-margin">
                <md-icon [color]="'accent'">dns</md-icon> Mo:
            </label>
            <md-radio-group name="radio_options" [(ngModel)]="radioGroupValue" (change)="setRadioVal($event)">
                <md-radio-button name="radio_options" class="example-margin" *ngFor="let mo of nodeData[2]" [value]="mo">{{mo}}</md-radio-button>
            </md-radio-group>
            <!-- <md-radio-group name="radio_options" [(ngModel)]="radioGroupValue">
                    <md-radio-button name="radio_options" class="example-margin" [value]="nodeData[2]" (change)="setRadioVal($event)">{{nodeData[2]}}</md-radio-button>
                </md-radio-group> -->
        </section>
        <div class="flex-container">
            <md2-datepicker [(ngModel)]="startDateTime" type="datetime" [disabled]="ultima" (change)="setStartTime($event)"></md2-datepicker>
            <md2-datepicker [(ngModel)]="finalDateTime" type="datetime" format="dd/MM/y HH:mm" [disabled]="ultima" (change)="setFinalTime($event)"></md2-datepicker>
            <md-slide-toggle class="example-margin" [color]="'accent'" [checked]="checked" [disabled]="disabled" [(ngModel)]="ultima" (change)="ultimaChange()">
                Latest data
            </md-slide-toggle>
            <!-- <button md-raised-button (click)="getKpis()">Obtener Kpis</button> -->
        </div>
        <div>
            <hr>
            <h1><md-icon>schedule</md-icon> Last update {{tiempo}}</h1>
            <hr>
        </div>
        <md-progress-bar md-line mode="indeterminate" *ngIf="loading"></md-progress-bar>
        <div class="flex-container">
            <app-gauge-chart [data]="accessibility" [title]="'Accessibility'" (emitKpiSelected)="emittedKpi($event)">
            </app-gauge-chart>
            <app-gauge-chart [data]="retainability" [title]="'Retainability'" (emitKpiSelected)="emittedKpi($event)">
            </app-gauge-chart>
            <app-gauge-chart [data]="availability" [title]="'Availability'" (emitKpiSelected)="emittedKpi($event)">
            </app-gauge-chart>
            <app-gauge-chart [data]="througput" [title]="'Throughput'" (emitKpiSelected)="emittedKpi($event)">
            </app-gauge-chart>
            <app-gauge-chart [data]="rrcfail" [title]="'Rrcfail'" (emitKpiSelected)="emittedKpi($event)">
            </app-gauge-chart>
            <app-gauge-chart [data]="latency" [title]="'Latency'" (emitKpiSelected)="emittedKpi($event)">
            </app-gauge-chart>
        </div>
        <div class="flex-container" *ngIf="kpiInfo">
            <hr>
            <h1><md-icon>description</md-icon> {{kpiInfo.type}}</h1>
            <hr>

            <a *ngIf="softAlarm" md-raised-button href="{{softAlarm}}" [color]="'accent'" download="softAlarm" mdTooltip="{{softAlarm}}" [mdTooltipPosition]="'right'"><md-icon>alarm</md-icon></a>            
            <p class="formula">{{kpiInfo.formula}}</p>
            <app-kpis-table [kpisData]="kpiProps"></app-kpis-table>
        </div>
        <div class="flex-container rtDisplay" *ngIf="nodoMoKpisActual">
            <hr>
            <h1><md-icon>timeline</md-icon> RT</h1>
            <hr>
            <!-- <app-line-chart-kpi *ngFor="let datos of nodoMoKpisActual" [data]="datos" (kpiGValue)="gettingKpiGValue($event)"></app-line-chart-kpi> -->
            <app-temp *ngFor="let datos of nodoMoKpisActual" [data]="datos"></app-temp>
        </div>
    </md-card-content>
</md-card>
