.example-margin {
    margin: 0 10px;
}

label.example-margin {
    margin-bottom: 10px;
    display: block;
    border-bottom: solid 5px black;
}

md-radio-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

md-card-header {
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 10px;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: center;
}

.flex-container md2-datepicker {
    flex: 1 50%;
}

.flex-container app-gauge-chart {
    width: 33%;
    margin-bottom: 10px;
    flex: 0 1 auto;
}

md-progress-bar {
    margin: 20px 0;
}

md-slide-toggle {
    margin-right: 20% !important;
}

hr {
    margin: 25px 0;
  height: 6px;
  background: url(./assets/img/hr.png) repeat-x 0 0;
    border: 0;
}

h2 {
    margin-top: 95px;
}


/* Medium screens */

@media all and (max-width: 1024px) {
    .flex-container app-gauge-chart {
        width: 33%;
    }
}


/* Small screens */

@media all and (max-width: 700px) {
    .flex-container {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
    .flex-container app-gauge-chart {
        width: 100%;
    }
}
