/* You can add global styles to this file, and also import other style files */
html, body, md-sidenav-container {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
}

.mat-dialog-container {
	max-width: 100vw !important;
	border-radius: 0 !important;
}

.nodeMenuPagination .ng2-pagination {
	padding-left: 0 !important;
}

app-nodes-menu {
	z-index: 30;
}

snack-bar-container {
	border-top-left-radius: 20px !important;
	border-top-right-radius: 20px !important;
	background: slategrey !important;
}
