md-card-header,
md-card-actions,
.grafica {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 0;
}

md-card-header {
    height: 25px;
}

md-card-title p {
    text-transform: uppercase;
}

md-card {
    box-shadow: none;
    background-color: transparent;
    padding-top: 5px;
    border-bottom: 1px dotted gray;
}

h3 {
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    color: slategray;
    margin: 0 4px;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: whitesmoke;
    width: 100%;}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.c3-chart-arc .c3-gauge-value {
    font-size: 1.5em !important;
}


/* Small screens */

@media all and (min-width: 700px) {
    md-card {
        border-bottom: none;
    }
}
