<table [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="10" class="table table-striped" id="hor-minimalist-a">
    <thead>
        <tr>
            <th style="width: 50%" md2SortBy="nombre">Counter</th>
            <th style="width: 50%" md2SortBy="valor">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of md2.data">
            <td>{{i.nombre}}</td>
            <td>{{i.valor}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <md2-pagination [rowsPerPageSet]="[5,10,15]"></md2-pagination>
            </td>
        </tr>
    </tfoot>
</table>
